# Wazuh Credentials
WAZUH_HOST=192.168.0.248
WAZUH_USER=wazuh
WAZUH_PASS=wazuh_new_password_2026
WAZUH_API_PORT=55000
WAZUH_SSH_PORT=22
WAZUH_SSH_USER=wazuh
WAZUH_SSH_PASS=wazuh-user

# TheHive Credentials
THEHIVE_URL=http://192.168.0.107:9000
THEHIVE_API_KEY=sY59XDceTK6/QidjpXPlb+NgYBVIr3oE

# Cortex Credentials
CORTEX_URL=http://192.168.0.107:9001
CORTEX_API_KEY=w/G60UamrcGuLP33aA+Y36mrHmZp0c6h

# MISP Credentials
MISP_URL=https://192.168.0.107
MISP_API_KEY=RRuEFqrYDz4U44ZGGqDWyWfux5PmBfLC4YRfG83k
MISP_VERIFY_SSL=false

# SSH to Docker Host (for TheHive, Cortex, MISP)
DOCKER_HOST_SSH_IP=192.168.0.107
DOCKER_HOST_SSH_PORT=22
DOCKER_HOST_SSH_USER=admin
DOCKER_HOST_SSH_PASS=altere_sua_senha

# Other Settings
LOG_LEVEL=INFO
FAST_MCP_NAME=SOC-MCP-Server
FAST_MCP_PORT=8000

# Wazuh Indexer Settings
WAZUH_INDEXER_HOST=192.168.0.248
WAZUH_INDEXER_USER=admin
WAZUH_INDEXER_PASS=admin
WAZUH_INDEXER_PORT=9200